<!-- src/app/features/time-tracker/time-stats/time-stats.component.html -->
<div class="time-stats-container">
  <div class="page-header">
    <div class="back-button">
      <button class="btn btn-icon" routerLink="/time-tracker">
        <i class="fa fa-arrow-left"></i>
      </button>
    </div>
    <h1 class="page-title">Statystyki czasu</h1>
    <div class="actions">
      <button class="btn btn-outline" routerLink="/time-tracker/history">
        <i class="fa fa-history"></i> Historia
      </button>
    </div>
  </div>

  <div class="coming-soon">
    <div class="coming-soon-icon">
      <i class="fa fa-bar-chart"></i>
    </div>
    <h2>Funkcjonalność w przygotowaniu</h2>
    <p>
      Ta sekcja będzie zawierać zaawansowane statystyki i wykresy dotyczące
      twojego czasu pracy, z możliwością analizy wydajności i rentowności.
    </p>
    <button class="btn btn-primary" routerLink="/time-tracker">
      <i class="fa fa-arrow-left"></i> Wróć do śledzenia czasu
    </button>
  </div>
</div>
